include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Портфолио | Аршалуйс Асланян
  body
    .wrapper
      .maincontent
        section.home
          .home__container
            //- .paralax
            //-   .paralax__layer(data-speed="0.1")
            //-     +image('content/paralax_1.png', 'paralax__image')
            //-   .paralax__layer(data-speed="0.3")
            //-     +image('content/paralax_2.png', 'paralax__image')
            //-   .paralax__layer(data-speed="0.45")
            //-     +image('content/paralax_3.png', 'paralax__image')
            //-   .paralax__layer(data-speed="0.6")
            //-     +image('content/paralax_4.png', 'paralax__image')
            //-   .paralax__layer(data-speed="0.8")
            //-     +image('content/paralax_5.png', 'paralax__image')
            .header
              .logo 
                a.logo__link(href="/") AA
              nav.nav
                ul.nav__list
                  li.nav__item 
                    a.nav__link(href="/") Главная
                  li.nav__item 
                    a.nav__link(href="#about") Обо мне
                  li.nav__item
                    a.nav__link(href="#skills") Навыки
                  li.nav__item
                    a.nav__link(href="#portfolio") Работы
                  li.nav__item
                    a.nav__link(href="#reviews") Отзывы
                  li.nav__item
                    a.nav__link(href="#contacts") Связатся
              .socials
                ul.socials__list
                  li.socials__items
                    a.socials__link(href="https://www.facebook.com/ashot1980" target="_blank")
                      +icon('fb', 'socials__icon')
                  li.socials__items
                    a.socials__link(href="https://www.linkedin.com/in/arshaluys/" target="_blank")
                      +icon('lkdin', 'socials__icon')
                  li.socials__items
                    a.socials__link(href="https://github.com/arsash" target="_blank")
                      +icon('github', 'socials__icon')
              .hamburger
                span.hamburger__nav
            .name
              p.name__description Личный сайт веб разработчика
              h1.name__text Аршалуйс Асланян
            .scroll
              span.scroll__text Скролл
              a.scroll__link(href="#about")
                +icon('scroll', 'scroll__icon')
          .about#about
              .about__left
                .about__pic
                  +image('content/Ashot.jpg', 'about__image')
                .details
                  ul.details__list
                    li.details__items Проживаю
                    li.details__items Возраст
                    li.details__items Родился
                  ul.details__list
                    li.details__items.details__items-white Москва
                    li.details__items.details__items-white 39
                    li.details__items.details__items-white 8 сентября 1980
              .about__right
                p.about__text Привет, меня зовут
                h2.about__header Аршалуйс Асланян
                p.about__text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                p.about__text.about__text-margin Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        section.skills
          h2.skills__header#skills Чем я могу быть полезен Вам
          p.skills__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
          #skills-component
          .skills__details
            .skills__area
              h3.skill__group Front-end
                - var skills = [{title: "HTML5", perc: '10'}, {title: "CSS3", perc: '50'}, {title: "JS", perc: '40'}, {title: "jQuery и Vue.JS", perc: '40'}]
              ul.frontend__list
                each skill in skills
                  li.frontend__list_item
                    .skill__title #{skill.title}
                    svg(width="140"  height="140").circle
                      circle(cx='50' cy='50' r='45' fill="transparent" stroke="#413f40").circle__icon.circle__icon--under
                      circle(cx='50' cy='50' r='45' fill="transparent" stroke="url(#grad)" stroke-dashoffset=`${skill.perc}%`).circle__icon.circle__icon--above
                      defs
                        linearGradient(id='grad')
                          stop(offset="0%" stop-color="#dc9322")
                          stop(offset="100%" stop-color="#d6831f")
            .skills__area
              h3.skill__group Workflow
                - var skills = [{title: "GIT", perc: '10'}, {title: "Terminal", perc: '50'}, {title: "Gulp", perc: '40'}, {title: "Webpack", perc: '40'}]
              ul.frontend__list
                each skill in skills
                  li.frontend__list_item
                    .skill__title #{skill.title}
                    svg(width="140"  height="140").circle
                      circle(cx='50' cy='50' r='45' fill="transparent" stroke="#413f40").circle__icon.circle__icon--under
                      circle(cx='50' cy='50' r='45' fill="transparent" stroke="url(#grad)" stroke-dashoffset=`${skill.perc}%`).circle__icon.circle__icon--above
                      defs
                        linearGradient(id='grad')
                    
                          stop(offset="0%" stop-color="#dc9322")
                          stop(offset="100%" stop-color="#d6831f")
        section#portfolio
          .container
            h2.portfolio__header Мои работы
            .portfolio__details
              .portfolio__images
                +image('content/1.jpg', 'portfolio__image')
                .portfolio__images-thumb
                  .thumb__container
                    +image('content/1.jpg', 'portfolio__image thumb portfolio__image--active')
                    +image('content/2.jpg', 'portfolio__image thumb')
                    +image('content/3.jpg', 'portfolio__image thumb')
                    +image('content/4.jpg', 'portfolio__image thumb')
                    +image('content/5.jpg', 'portfolio__image thumb')
                .arrows
                  .arrows__cntrls
                    a.arrow__link(href="#")
                      +icon('arrow-down', 'arrow__icon arrow__icon--activ')
                  .arrows__cntrls
                    a.arrow__link(href="#")
                      +icon('arrow-down', 'arrow__icon arrow__icon--left')
              .portfolio__number 1
              .portfolio__text
                .tags
                  span.tags__item HTML
                  span.tags__item CSS
                  span.tags__item JavaScript
                h3 Сайт школы образования
                p.portfolio__paragraph Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4.5 месяца только самых тяжелых испытаний и бессонных ночей!
                .site
                  +icon('link', 'site-icon')
                  a.site-link(href="#" target="__blank") Посмотреть сайт
        section.review
          h2.review__heaeder#reviews Что обо мне говорят
          .reviews
            ul.reviews__list
              li.reviews__item
                .reviews-block
                  +icon('quote', 'quote')
                  p.reviews__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                .reviews__person
                  .reviews__person-image
                    +image('content/Dima.jpg', 'reviews__person-pic')
                  .reviews__person-text
                    h4.reviews__person-name Дмитрий Ковальчук
                    h4.reviews__person-pos Основатель Loftschool
              li.reviews__item
                .reviews-block
                  +icon('quote', 'quote')
                  p.reviews__text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                .reviews__person
                  .reviews__person-image
                    +image('content/Vladimir.jpg', 'reviews__person-pic')
                  .reviews__person-text
                    h4.reviews__person-name Владимир Сабанцев
                    h4.reviews__person-pos Преподаваталь
          h2.review__heaeder#contacts Связатся со мной
          .form
            form#form.form__inputs(action="#")
              .form__row.inputs
                label.form__label Введите Ваше имя
                  input.input__name(type="text" placeholder="Аршалуйс Асланян")
                  +icon('user', 'input__icon')
                label.form__label.email Введите Ваш E.mail
                  input(type="email", name="" placeholder="a.aslanyan@inbox.ru")
                  +icon('envelope', 'input__icon')
              .form__row
                label.form__label.form__label--text_area Сообщение к письму
                  textarea(name="", rows="2" placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса").textarea
                  +icon('message', 'input__icon')
              .form__row.form__btn
                button(type="submit").btn Отправить
        footer.footer
          .footer__container
            .footer__left
              .footer__copy &copy 2020
              .footer__name 
                h3.footer__head Аршалуйс Асланян
                h4.footer__desc Личный сайт веб разработчика
            .footer__right
              .footer__nav
                nav.nav
                ul.nav__list.nav__list-footer
                  li.nav__item.nav__item-footer 
                    a.nav__link(href="/") Главная
                  li.nav__item.nav__item-footer 
                    a.nav__link(href="#about") Обо мне
                  li.nav__item.nav__item-footer
                    a.nav__link(href="#skills") Навыки
                  li.nav__item.nav__item-footer
                    a.nav__link(href="#portfolio") Работы
                  li.nav__item.nav__item-footer
                    a.nav__link(href="#reviews") Отзывы
                  li.nav__item.nav__item-footer
                    a.nav__link(href="#contacts") Связатся
              .footer__texts
                .footer__text
                  p.footer__paragraph Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                  .socials
                  ul.socials__list
                    li.socials__items.socials__items--footer
                      a.socials__link(href="https://www.facebook.com/ashot1980" target="_blank")
                        +icon('fb', 'socials__icon')
                    li.socials__items.socials__items--footer
                      a.socials__link(href="https://www.linkedin.com/in/arshaluys/" target="_blank")
                        +icon('lkdin', 'socials__icon')
                    li.socials__items.socials__items--footer
                      a.socials__link(href="https://github.com/arsash" target="_blank")
                        +icon('github', 'socials__icon')
                .footer__text
                  p.footer__paragraph.footer__paragraph--mb Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                  i.footer__text_author Martin Golding